/* styles.css */
:root {
  --primary-color: #e1a520;
  --secondary-color: #c18500;
  --secondary-color-10: #5f4112;
  --background-color: #262a31;
  --text-color-priamry: #ffffff;
  --text-color-secondary: #656f80;
}
