.menu-container {
  position: fixed;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  color: var(--text-color-priamry);
  background-color: rgba(178, 183, 191, 0.5);
  margin-top: 3px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.menu-icon.show {
  width: 100%;
  padding-right: 8px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}
.menu-hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgba(178, 183, 191, 0.5);
}
.hamburger-icon {
  width: 30px;
}
.arrow-up-icon,
.share-icon {
  padding: 15px 0;
}
.menu-items.show {
  opacity: 1;
  max-height: 300px;
  padding-top: 15px;
}

.icon {
  width: 30px;
  transition: width 0.3s ease;
}

.icon:hover {
  width: 33px;
}

@media (max-width: 1024px) {
  .menu-container {
    flex-direction: row;
  }
  .menu-icon {
    order: -1;
    flex-direction: row;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: unset;
    margin-top: unset;
    margin-right: 3px;
    min-width: 45px;
    width: 45px;
  }
  .menu-items {
    flex-direction: row;
    display: none;
  }
  .arrow-up-icon,
  .share-icon {
    padding: 12px 8px 12px;
    height: 19px;
    width: 19px;
  }
  .arrow-up-icon {
    order: -1;
  }
  .menu-hamburger {
    padding: 9px;
    max-height: 30px;
  }
  .menu-items.show {
    display: flex;
    max-width: 300px;
    height: 27px;
    gap: 10px;
    padding: unset;
  }
  .icon {
    width: 20px;
  }
  .icon:hover {
    width: 23px;
  }
}
